.adm-tab-text {
    font-family: Lato;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #0d4071;
  }
  
  .dropdown-adm {
    border: 2px solid #f9bb19;
    border-color: #f9bb1988;
    margin-right: 2mm;
    color: #f9bb19 !important;;
    border-radius: 5px;
  }
  
  .dropdown-adm-yellow-bck{
  background-color: #f9bb19;
  color: black;
  }
  
  .right-align-drp{
    margin: 0px 0px 0px 315px;  
    }
  
  .right-align-drp2{
    margin: 20px 0px 0px 415px;  
    }
  
    .left-align-drp{
      float: left;
      padding-right: 400px;
      font-weight: bold;
      }
  
      .Toastify__toast-container--bottom-right {
        top: 12em !important;
      }
  
  
  
  