.carddetail{
  border-radius: 10px;
  
  margin-top: -5px;
}
.card{
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
}
.card-header, .card-title {
  text-transform: none;
 
}
.coursecardtitle{
  font-family: Lato;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0f3866;
}
.coursecardsubtitle{
    /* width: 134px;
  height: 20px;
  margin: 32px 548px 8px 0; */
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.1;
  letter-spacing: normal;
  color: #1770dd;
}
.coursecardsubtitle1{
  color: #1770dd;
  font-family: Lato;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-style: normal;
  color: #1770dd;
}
.The-environment-and {

  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  color: #828894;
}
.coursedetailcardcontent{
  margin: 8px 0 0;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #828894;
  
}
.coursecardimg{
    width: 184px;
    height: 184px;
    border-radius: 10px;
    float: left;
    object-fit: cover;
}
.educartcarddetailfooter{
  padding: 0;
  display: flex;
  text-decoration: none;
  list-style: none;
}

.educartcarddetailfooter h1{
  height: 20px;
  margin-right: 64px;
  opacity: 0.7;
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #828894;
}
.educartcarddetailfooter h2{
  height: 20px;
  margin: 1px 40px 0 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  color: #1770dd;
}
.applybutton{  
  border-radius: 6px;
  background-color: #f7b422;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d4071;  
}

.Course-content{
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #1770dd;
}
.At-the-School-of-Gov {
  font-family: Lato;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.07;
  letter-spacing: normal;
  color: #828894;
}
.Rectangle_CorseSubject {
  margin: 16px 34px 16px 0;
  padding: 16px 25px 16px 16px;
  border-radius: 10px;
  background-color: #ffffff;
}
.Saxion-City-Lab-2 {
  width: 305px;
  border-radius: 10px;
  background-color: #ffff;
  margin: 0 0 8px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f7b422;
}
.reserchheader{
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0f3866;
}
.reserchdata{
  font-family: Lato;
  color: #0f3866;
}
.Rectangle-Copy-2 {
  width: 32px;
  height: 32px;
  margin: 0 128px 4px 0;
  border-radius: 10px;
  background-color: #f1f1f1;
}
.Rectangle-overview-programdata {
  width: 1322px;
  height: 292px;
  margin: 80px 58px 80px 60px;
  padding: 40px 46px;
  border-radius: 10px;
  background-color: #ffffff;
}
.Product {
  width: 88px;
  height: 24px;
  margin: 35px 127px 38px 0;
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #788995;
}
